body{
    font-family: 'Opens Sans';
    padding: 20px 50px 150px;
    text-align: center;
    background:#DEFCC3;
}

#header{
	width: 100%;
	min-width: 1260px;
	height: 70px;
	background-color: #000000;
}
#header .center{
	width: 1220px;
	height: 80px;
	/*background-color: red;*/
	margin:0 auto; 
}

ul{
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

/*样式为单独的菜单项目*/
ul li{
    font: 12px/18px;
    font-weight: bold;
    display: inline-block;
    margin-right: -4px;
    padding: 15px 30px;/**/
    background: #fff;
    transition: all 0.2s;
    cursor: pointer;
}

ul li:hover{
    background: #555;
    color: #fff;

}
/*主菜单项的子菜单（下拉菜单）*/
ul li ul{
    padding: 0;
    position: absolute;
    top: 75px;
    margin-left:-20px;
    width: 150px;
    box-shadow: none;
    opacity: 0;
    transition: opacity 0.2s;
    display: none;
}

ul li ul li{
    background: #555;
    display: block;
    color:#fff;
    text-shadow: 0 -1px 0 #000;
    cursor: pointer;
}
ul li ul li:hover{
    background: #666;

}
/*这揭示了悬停下拉菜单*/
ul li:hover ul{
    display: block;
    opacity: 1;
}