@charset "utf-8";

body,h1,ul,h2,p,figure{
	margin:0;
	padding: 0;
}
ul{
	list-style: outside none none;
}
a{
	text-decoration: none;//取消下划线
}

.none{
	display: none;
}
#header{
	width: 100%;
	min-width: 1260px;
	height: 70px;
	background-color: #000000;
}

#header .center{
	width: 1220px;
	height: 80px;
	/*background-color: red;*/
	margin:0 auto; 
}

#header .logo{
	width: 340px;
	height: 70px;
	background-image:url(jd.png); 
	text-indent: -9999px;
	float:left;

}

#header .link{
	/*background-color: red;*/
	width: 650px;
	height: 60px;
	line-height: 70px;
	color: #eee;
	float:right;
}
#header .link li{
	width: 120px;
	text-align: center;
	float: left;
}
#header .link a{
	color: #D3D3D3;
	display: block;
}

#header .link a:hover/*,#nav>section>ul>li.active a定位在首页*/{
 background-color: #66FF99;
}

#search{
	width: 100%;
	min-width: 1260px;
	height: 480px;
	background:url(666.png)no-repeat center;
	position:relative;

}

#search .center{
	width: 500px;
	height: 50px;
	background-color:#000;
	position: absolute;
	top: 50%;
	left: 50%;
	margin:-30px 0 0 -270px;
	opacity: 0.5;
	border-radius: 10px;
}

#search .search{
	width: 410px;
	height: 45px;
	background-color: #eee;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -27px 0 0 -260px;
	color: #000000;
	border-radius: 10px;
	font-size: 15px;
	padding: 0 10px;
	outline: none;
}

#search .button{
	width: 100px;
	height: 49px;
	background-color: #eee;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -27px 0 0 172px;
	color: #000000;
	border-radius: 10px;
	font-size: 15px;
	/*padding: 0 10px;*/
	outline: none;
	cursor: pointer;
	font-weight: bold;
}

#tour{
	width: 1263px;
	height: 1100px;
	margin: 30px auto;
	text-align: center;
}
/*#tour .center{
	text-align: center;
}*/

#tour .center h2{
	font-size: 40px;
	letter-spacing: 2px;
	color: #7CFC00;
	margin: 10px 0;
}
#tour .center p{
	color: #7CFC00;
	margin: 10px 0;
}

#tour figure{
	border: 1px solid yellow;
	display: inline-block;
	padding: 4px;
	border-radius: 4px;
	margin: 15px 12px;
	width: 380px;
	text-align: left;
	position: relative;
}

#tour figure img{
	vertical-align: middle;
}

#tour figcaption{
	
	color: #666;
	line-height: 1.5;
	letter-spacing: 1px;
	font-size: 14px;
}

#tour  .title{
	color: #000000;
	font-size: 15px;
	font-weight: normal;

}

#tour .sta{
	float: right;
	font-size:13px;
	color:#999;
	font-style:normal;
	position: relative;
	top:5px;
	right: 6px;
}

#tour .price{
	color: #f60;
	font-size: 14px;


}

#tour .price strong{
	font-size:30px;
}

#tour .type{
	width: 90px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	background-color: #7CFC00;
	position:absolute;
	top: 3px;
	left: 3px;
	}

#footer{
		height: 360px;
		background-color: #222;
	}


#footer .top{
width: 1263px;
height: 290px;
margin: 0 auto;
text-align: center;
}

#footer .blok{
	width: 410px;
	height: 290px;
	/*background-color: red;*/
	display: inline-block;
	text-align: left;
	color: #ccc;
	vertical-align: top; /*垂直居顶*/

}
#footer h2{
	font-size: 24px;   /*改变字体大小*/
	font-weight: normal;  /*改变字体粗细*/
	padding: 20px 0 0 20px;
}
#footer hr{
	width: 100%
	border:2px dashed #333; /*设置虚线*/
}

#footer ul{
	font-size: 15px;
	color: #777;
	text-indent: 20px; /*设置首行缩进*/
	line-height: 2; /*设置文本的间距*/
}

#footer .bottom{
	height: 80px;
	line-height: 90px;
	text-align: center;       /*居中*/
	color:#777;
	background-color: #000;
	border: 1px solid #444;
}
  
